body {
  margin: 0;
  overflow: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;

  #left-sidebar, #right-sidebar {
    box-shadow: inset 0px 0px 10px 0px #000000BF;
    background-color: #ddd;
  }

  #left-sidebar {

  }

  #content {
    background-color: #eee;
    padding: 0px 30px;
    font-family: "Avenir Next","Georgia", serif;
    position: relative;
    overflow-y: scroll;
    h1 {
      color: #444;
      position: sticky;
      top: 0;
      margin: 0;
      padding: 0.6em 0;
      background-color: #eee;
    }
    p {
      font-size: 23px;
      color:#bbbbbb77;

      &:first-of-type {
        margin-top: 0;
      }

      span {
        color:#bbbbbb77;
        font-weight:300;
        transition: color 0.5s ease, font-weight 0.5s ease;
      }

      span.selected-text {
        display: block;
        margin:20px 0px;
        color:#444;
        font-weight:300;
        opacity: 1;
      }
      
    }
  }

  #right-sidebar {

  }

}
